<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>The Home Page <%=4+5+1%></h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni mollitia iste vitae debitis molestiae possimus nihil quod reiciendis deleniti inventore non id eveniet voluptates consequuntur quae quo et, consequatur excepturi?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste unde possimus esse? Quasi nam odit explicabo laborum facilis doloremque, molestiae veniam ea eos quis. Corporis, soluta. Voluptatem expedita magnam dicta?</p>

    
</body>
</html>