.winner{
    color: rgb(0, 116, 0)
}
.loser{
    color: rgb(204, 0, 0);
}
* {
    box-sizing: border-box;
  }
  
#card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.1s;
    border-radius: 5px;
    padding: 20px;
  text-align: center;
  background-color: #f1f1f1;
  width: 1000px;
    height: 500px;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: inherit;
    color: rgb(101, 104, 98);
    font-weight: inherit;
    position:absolute;
  top:20%;
  left:12%;
  right:15%;
  background-color: rgb(195, 236, 195);
  margin-top:20px; /* this is half the height of your div*/  
  margin-left:50px; /*this is half of width of your div*/
  }
  #reset{
    color: rgb(101, 104, 98);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  margin: 4px 2px;
  font-weight: bold;
  cursor: pointer;

  }
  h4{
      text-shadow: rgb(10, 9, 9);
      text-align: center;
      font-size: 50px;
      color: rgb(101, 104, 98);
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  #playthis{
    color: rgb(101, 104, 98);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  margin: 4px 2px;
  font-weight: bold;
  cursor: pointer;

  }
  #P1{
    color: rgb(101, 104, 98);
    padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  margin: 4px 2px;
  cursor: pointer;
  font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  #P2{
    color: rgb(101, 104, 98);
    padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 40px 40px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }
  img {
    border-radius: 5px 5px 0 0;
  }
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }